{% extends "base.html" %}
{% load static %}
{% block style %}
    {% static "css/main.css" %}
{% endblock style %}
{% block content %}
<h2 class="latest-questions">Последние вопросы</h2>
<div class="question-block">
    <a href="#" class="question-link">Вопрос 1</a>
    <p class="question-text">Как дела?</p>
    <p class="question-comment">Комментарий к вопросу или часть текста вопроса.</p>
    <a href="#" class="answers-link">Посмотреть ответы</a>
</div>
<div class="question-block">
    <a href="#" class="question-link">Вопрос 2</a>
    <p class="question-text">Как дела?</p>
    <p class="question-comment">Комментарий к вопросу или часть текста вопроса.</p>
    <a href="#" class="answers-link">Посмотреть ответы</a>
</div>
<div class="question-block">
    <a href="#" class="question-link">Вопрос 3</a>
    <p class="question-text">Как дела?</p>
    <p class="question-comment">Комментарий к вопросу или часть текста вопроса.</p>
    <a href="#" class="answers-link">Посмотреть ответы</a>
</div>
<div class="question-block">
    <a href="#" class="question-link">Вопрос 4</a>
    <p class="question-text">Как дела?</p>
    <p class="question-comment">Комментарий к вопросу или часть текста вопроса.</p>
    <a href="#" class="answers-link">Посмотреть ответы</a>
</div>
<div class = "popular-tags-block">
    <p class = "popular-tags-title"> Популярные теги </p>
</div>
{% endblock content %}