{% extends "base.html" %}
{% load static %}
{% block style %}
    {% static "css/new_question.css" %}
{% endblock style %}
{% load static %}
{% block  content%}
<h2 class="new-question-title">Новый вопрос</h2>
<form action="{% url "new_question" %}" method="post">
    {% csrf_token %}
    {{form}}
    {% comment %} <div class="form-group">
        <label for="title">Заголовок:</label>
        <input type="text" id="title" name="title" maxlength="60" required>
    </div> {% endcomment %}
    {% comment %} <div class="form-group">
        <label for="text">Текст/Комментарий:</label>
        <textarea id="text" name="text" rows="5" maxlength="250" required></textarea>
    </div> {% endcomment %}
    <button class="ask-button" type="submit">ASK</button>
</form>
{% endblock %}